<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    This is for sensor data (in this case for step counter)-->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

<!--    this for high accuracy like gps access from sensor-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<!--    this for low accuracy like wifi and cellular tower-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

<!--    this is for permission to use alarm to set local notifications-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <application

        android:name=".analytics.MyApplication"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Dashboard"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectMobileApp"
        tools:targetApi="31">

<!--        here is activity that first starts when launching the app-->
        <activity
            android:name=".auth.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".auth.activities.SignupActivity" />
        <activity android:name=".sensors.TestingAndroidSensor" />
        <activity android:name=".gemini_AI.GeminiActivity" />
        <activity android:name=".ui.activities.history.HistoryActivity" />
        <activity android:name=".ui.activities.bottom_navigation.CommonActivity" />
        <activity android:name=".ui.activities.AddReminderActivity" />
        <activity android:name=".ui.activities.RemindersActivity" />
        <activity android:name=".ui.activities.admin.AdminDashboardActivity" />
        <activity android:name=".ui.activities.LogWorkoutActivity" />
        <activity android:name=".ui.activities.LogCaloriesActivity" />
        <activity android:name=".ui.activities.admin.ViewUserWorkoutsActivity" />
        <activity android:name=".ui.activities.admin.DeleteUserActivity" />
        <activity android:name=".ui.activities.admin.EditDeleteWorkoutActivity" />
        <activity android:name=".ui.activities.admin.ViewUsersActivity" />

        <receiver android:name=".ui.activities.local_notifications.ReminderReceiver"
            android:exported="false" />


    </application>

<!--    just want to show demo for pushing to github-->

</manifest>
